@media screen and (max-width: 1400px) {
   
     .bestseller .middle-bar h5 {
        font-size: 28px;
        letter-spacing: -1px;
    }

     .consultation-section .left-bar h4 {
        font-size: 45px;
    }

     .consultation-section .left-bar .patient-count h3 {
        font-size: 60px;
    }

     .consultation-section .left-bar .patient-count  .patient-from p:nth-child(1) {
        font-size: 32px;
    }

     .consultation-section .left-bar .patient-count  .patient-from p:nth-child(2) {
        font-size: 29px;
    }

    .consultation-section .right-bar .consultation-image img:nth-child(1) {
        height: 110px;
    }

    .consultation-section .right-bar .consultation-image img:nth-child(2) {
        height: 110px;
    }

    .consultation-section .right-bar .consultation-image img:nth-child(3) {
        height: 335px;
    }

    .academy .left-bar .academy_img1 .academy_image img {
        height: 130px;
    }

    .academy .left-bar .academy_img2 .academy_image img {
        height: 130px;
    }

     .academy .right-bar .parana-academy-title {
        font-size: 50px;   
    }

    .academy .right-bar .academy-students h3 {
        font-size: 55px;
    }

   .academy .right-bar .academy-students .student-from-countries p {
        font-size: 22px;
    }

    .academy .right-bar .academy-students .student-from-countries p span {
        font-size: 22px;
    }

    .gut_story .left-bar h3 {
        font-size: 70px;
    } 

     .gut_story .left-bar p:nth-child(2) {
        font-size: 35px;
    }

     .gut_story .left-bar p:nth-child(4) {
        font-size: 30px;
    }

     .gut_story .right-bar img {
       width: 600px;
       height: auto;
    }

     .social-media .right-bar .followers h3 {
        font-size: 58px;
    } 

    .social-media .right-bar .followers p {
        font-size: 24px;
    }

      .workshops .left-bar h6  {
        font-size: 50px;
    }

    .workshops .left-bar p {
        font-size: 25px;
    }
    
   .ayurveda_detox_clinic .right-bar h6 {
    font-size: 50px;
   }

   .subscribe_form .left-bar h6 {
    font-size: 35px;
   }

   .subscribe_form .right-bar {
    padding: 0 30px;
   }

   .subscribe_form .left-bar p {
    font-size: 23px;
   }

    footer .left-bar h6 {
    font-size: 35px;
   }

    footer .left-bar p {
    font-size: 20px;
   }

     footer .left-bar p span {
    font-size: 20px;
   }

    footer .middle-bar  {
    padding-top: 70px;
   }

   footer .middle-bar .contact p {
    font-size: 20px;
   }

     footer .middle-bar .location p {
    font-size: 20px;
   }

   .awards .awards__slider img {
  margin: 0 9px;
}

}

@media screen and (max-width: 1199px) {
    .header {
        width: 100%;
    }

    .header nav ul li {
        margin: 0.4rem; 
    }

    .header nav ul li.logo {
        margin-bottom: 0.6rem;
        margin-top: 0;
        max-width: 7rem;
    }

    .bestseller .left-bar p {
        font-size: 20px;
    }

    .bestseller .left-bar img:nth-child(2) {
        width: 130px;
    }
    
    .bestseller .left-bar img:nth-child(3) {
        width: 150px;
    }

    .bestseller .middle-bar h4 {
        font-size: 25px;
        letter-spacing: 1px;
    }

    .bestseller .middle-bar h5 {
        font-size: 24px;
        letter-spacing: -1px;
    }

    .bestseller .middle-bar h6 {
        font-size: 18px;
    }

    .bestseller .middle-bar a {
        font-size: 16px;
    }

    .bestseller .right-bar img:nth-child(1) {
        height: 300px;
        width: 200px;

    }

    .bestseller .right-bar img:nth-child(2) {
        height: 50px;
    }

    .consultation-section .left-bar .bottom-border {
        width: 100%;
    }

    .consultation-section .left-bar .patient-count  .patient-from p:nth-child(2) {
        font-size: 21px;
    }

    .consultation-section .left-bar a {
        font-size: 18px;
        line-height: 1;
        padding: 10px 15px 10px 15px;
    }

    .consultation-section .right-bar .consultation-image img:nth-child(1) {
        height: 100px;
    }

    .consultation-section .right-bar .consultation-image img:nth-child(2) {
        height: 100px;
    }

    .consultation-section .right-bar .consultation-image img:nth-child(3) {
        height: 250px;
    }

    .academy .left-bar .academy_img1 .academy_image img {
        height: 110px;
        margin: 3px;
    }

    .academy .left-bar .academy_img2 .academy_image img {
        height: 110px;
        margin: 3px;
    }

    .academy .right-bar {
        padding: 0 20px;
    }

    .academy .right-bar .academy-students {
        padding: 5px 5px;
    }

    .academy .right-bar .academy-students h3 {
        font-size: 52px;
    }

    .gut_story .left-bar {
        padding: 0 30px;
    }

    .gut_story .left-bar h3 {
        font-size: 60px;
    }

    .gut_story .left-bar p:nth-child(4) {
        font-size: 28px;
    }

    .gut_story .right-bar img {
       width: 100%;
       height: auto;
    }

    .social-media .right-bar .followers h3 {
        font-size: 50px;
    } 

    .social-media .right-bar .followers p {
        font-size: 20px;
    }

    .social-media .right-bar p {
        font-size: 30px;
        
    }

    .social-media .right-bar .social-mdia-handle img {
        width: 70px;
        height: auto;
    }

    .social-media .right-bar .social-mdia-handle img:nth-child(3) {
        width: 120px;
        height: auto;
    }

    .social-media .right-bar .social-mdia-handle img:nth-child(6)  {
        width: 90px;
        height: auto;
    }

    .workshops {
       padding: 50px 0;
    }

    .workshops .left-bar {
        padding: 0;
    }

    .workshops .left-bar p {
        font-size: 23px;
    }
    
    .workshops .right-bar img  {
        width: 49%;
        height: auto;
    }

    .award_honours .awards {
        padding: 10px 0 50px 0;
    }

    .award_honours .awards h6 {
        font-size: 50px;
    }

   .ayurveda_detox_clinic .right-bar h6 {
    font-size: 42px;
   }

   .subscribe_form .left-bar {
    padding: 0 30px;
   }

   .subscribe_form .left-bar h6 {
    font-size: 33px;
   }

   .subscribe_form .left-bar p {
    font-size: 20px;
   }

   footer .left-bar {
    padding: 20px 0;
   }

   footer .left-bar p {
    font-size: 16px;
   }

   footer .left-bar p span {
    font-size: 18px;
   }

   footer .middle-bar  {
    padding-top: 50px;
   }

   footer .middle-bar .contact img {
    height: 40px;
   }

   footer .middle-bar .contact p  {
    font-size: 18px;
   }

   footer .middle-bar .location p {
    font-size: 17px;
   }

   footer .right-bar  {
    padding: 20px 0 40px 0;
   }

   footer .right-bar h3 {
    font-size: 20px;
   } 

   footer .right-bar p {
    font-size: 9px;
   }

   .awards .awards__slider img {
  margin: 0 7px;
}

}


@media screen and (max-width: 992px) {

    .container {
        max-width: 90%;
    }

    .desktopnav {
  display: none;
}

.mobilenav,
.sidenav {
  display: block;
}

    .mobilenav {
  background-color: #e1ecbb;
  padding-bottom: 1rem;
}

.mobilenav__logo {
  display: block;
}

.mobilenav__logo img {
  max-width: 5rem;
}

.mobilenav__hamburger {
  width: 32px;
  height: 21px;
  padding: 0.2rem;
  cursor: pointer;
  position: relative;
  margin-top: 0.05rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  float: right;
  z-index: 3;
}

.mobilenav__hamburger.active span:nth-of-type(1) {
  top: unset;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mobilenav__hamburger.active span:nth-of-type(2) {
  opacity: 0;
}

.mobilenav__hamburger.active span:nth-of-type(3) {
  bottom: unset;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobilenav__hamburger span {
  height: 3px;
  display: block;
  background: #292728;
  border-radius: 2rem;
  width: 90%;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.mobilenav__hamburger span:nth-of-type(1) {
  top: 0;
}

.mobilenav__hamburger span:nth-of-type(3) {
  bottom: 0;
}

.sidenav {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background: #e1ecbb;
  z-index: 2;
  padding: 3rem;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.sidenav.active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.sidenav ul {
  margin: 0;
  padding: 0;
}

.sidenav ul li {
  list-style: none;
}

.sidenav ul li a {
  font-size: 1.5rem;
  color: #292728;
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.backdrop.active {
  opacity: 1;
  visibility: visible;
}

.awards .awards__slider img {
  margin: 0 5px;
}

 .bestseller .left-bar p {
        font-size: 15px;
    }

     .bestseller .left-bar img:nth-child(2) {
        width: 100px;
    }

    .bestseller .left-bar img:nth-child(3) {
        width: 120px;
    }

    .bestseller .middle-bar h4 {
        font-size: 17px;
        
    }

    .bestseller .middle-bar h5 {
        font-size: 17px;
    }

    .bestseller .middle-bar h6 {
        font-size: 13px;
    }

    .bestseller .middle-bar a {
        font-size: 10px;
        padding: 10px;
    }

    .bestseller .right-bar img:nth-child(1) {
        height: 250px;
        width: 150px;

    }

     .bestseller .right-bar img:nth-child(2) {
        height: 40px;
    }

    .consultation-section .left-bar h4 {
        font-size: 33px;
    }

        .consultation-section .left-bar .patient-count h3 {
        font-size: 45px;
    }

    .consultation-section .left-bar .patient-count .patient-from p:nth-child(1) {
        font-size: 25px;
    }


    .consultation-section .left-bar .patient-count  .patient-from p:nth-child(2) {
        font-size: 13px;
    }

     .consultation-section .left-bar a {
        font-size: 12px;
        line-height: 1;
        padding: 10px 15px 10px 15px;
    }

     .consultation-section .right-bar .consultation-image img:nth-child(1) {
        height: 55px;
        margin: 0 5px;
    }

      .consultation-section .right-bar .consultation-image img:nth-child(2) {
        height: 55px;
    }

     .consultation-section .right-bar .consultation-image img:nth-child(3) {
        height: 215px;
    }

     .academy .left-bar .academy_img1 .academy_image img {
        height: 70px;
        margin: 3px;
    }

    .academy .left-bar .academy_img2 .academy_image img {
        height: 70px;
        margin: 3px;
    }

     .academy .right-bar {
        padding: 0 10px;
    }

   

        .academy .right-bar .parana-academy-title {
        font-size: 34px;
    }

    .academy .right-bar .academy-students h3 {
        font-size: 35px;
    }

    .academy .right-bar .academy-students .student-from-countries p {
        padding-left: 0;
        font-size: 15px;
    }

        .academy .right-bar .academy-students .student-from-countries p span {
        font-size: 14px;
    }

     .gut_story .left-bar h3 {
        font-size: 40px;
    }

        .gut_story .left-bar p:nth-child(2) {
        font-size: 25px;
    }

        .gut_story .left-bar p:nth-child(4) {
        font-size: 18px;
    }

    .gut_story .left-bar .prodcast-media img {
        height: 40px;
        width: auto;
        padding: 0 5px;
    }

        .social-media .right-bar .followers h3 {
        font-size: 35px;
    }

        .social-media .right-bar .followers p {
        font-size: 14px;
    }

        .social-media .right-bar p {
        font-size: 20px;
        line-height: 1;
    }


        .social-media .right-bar .social-mdia-handle img {
        width: 50px;
        height: auto;
    }

        .social-media .right-bar .social-mdia-handle img:nth-child(3) {
        width: 85px;
        height: auto;
    }

        .social-media .right-bar .social-mdia-handle img:nth-child(6) {
        width: 60px;
        height: auto;
    }

    .social-media .right-bar .social-mdia-handle img:nth-child(3) {
    margin: 0 -20px;
}

    .workshops .left-bar h6 {
        font-size: 35px;
    }

        .workshops .left-bar p {
        font-size: 15px;
    }

        .award_honours .awards h6 {
        font-size: 35px;
    }

        .ayurveda_detox_clinic .right-bar h6 {
        font-size: 30px;
    }

        .subscribe_form .left-bar h6 {
        font-size: 23px;
    }

        .subscribe_form .left-bar p {
        font-size: 15px;
    }

        .subscribe_form .right-bar {
        padding: 0;
    }

    .subscribe_form .right-bar form input {
        padding: 5px;
    }

    .subscribe_form .right-bar form button {
    padding: 5px;
    font-size: 15px;  
}

.subscribe_form .right-bar form {
    padding: 15px;
}

    footer .left-bar h6 {
        font-size: 30px;
    }

        footer .left-bar p {
        font-size: 12px;
    }

          footer .left-bar p span {
        font-size: 11px;
    }

    footer .middle-bar .contact img {
        height: 30px;
    }

        footer .middle-bar .contact p {
        font-size: 13px;
    }

        footer .middle-bar .contact img {
        height: 30px;
    }

    footer .middle-bar .location img {
        height: 40px;
    }

        footer .middle-bar .location p {
        font-size: 11px;
    }

}

@media screen and (max-width: 777px) {
    .container {
        max-width: 100%;
    }

    .bestseller .left-bar p {
        font-size: 12px;
    }

     .bestseller .left-bar img:nth-child(2) {
        width: 80px;
    }

    .bestseller .left-bar img:nth-child(3) {
        width: 100px;
    }

    .bestseller .middle-bar h4 {
        font-size: 13px;
        
    }

    .bestseller .middle-bar h5 {
        font-size: 14px;
    }

    .bestseller .middle-bar h6 {
        font-size: 10px;
    }

    .bestseller .middle-bar a {
        font-size: 8px;
        padding: 8px;
    }

    .bestseller .right-bar img:nth-child(1) {
        height: 190px;
        width: 120px;

    }

     .bestseller .right-bar img:nth-child(2) {
        height: 30px;
    }

    .consultation-section .left-bar h4 {
        font-size: 25px;
    }

    .consultation-section .left-bar .patient-count {
    padding: 0;
}

        .consultation-section .left-bar .patient-count h3 {
        font-size: 35px;
    }

    .consultation-section .left-bar .patient-count .patient-from p:nth-child(1) {
        font-size: 25px;
    }


    .consultation-section .left-bar .patient-count  .patient-from p:nth-child(2) {
        font-size: 13px;
    }

     .consultation-section .left-bar a {
        font-size: 10px;
        line-height: 1;
        padding: 10px 15px 10px 15px;
    }

     .consultation-section .right-bar .consultation-image img:nth-child(1) {
        display: none;
    }

      .consultation-section .right-bar .consultation-image img:nth-child(2) {
        display: none;
    }

     .consultation-section .right-bar .consultation-image img:nth-child(3) {
        height: 180px;
    }

     .consultation-section .right-bar .consultation-image {
        text-align: center;
     }

     .academy .left-bar .academy_img1 .academy_image img {
        height: 60px;
        margin: 3px;
    }

    .academy .left-bar .academy_img2 .academy_image img {
        height: 60px;
        margin: 3px;
    }

     .academy .right-bar {
        padding: 0 10px;
    }

    .academy {
        padding: 20px 0;
    }
   

        .academy .right-bar .parana-academy-title {
        font-size: 30px;
    }

    .academy .right-bar .academy-students h3 {
        font-size: 30px;
    }

    .academy .right-bar .academy-students .student-from-countries p {
        padding-left: 0;
        font-size: 15px;
    }

        .academy .right-bar .academy-students .student-from-countries p span {
        font-size: 14px;
    }

     .gut_story .left-bar h3 {
        font-size: 30px;
    }

        .gut_story .left-bar p:nth-child(2) {
        font-size: 18px;
    }

        .gut_story .left-bar p:nth-child(4) {
        font-size: 12px;
    }

    .gut_story .left-bar .prodcast-media img {
        height: 30px;
        width: auto;
        padding: 0 5px;
    }

    .awards {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

        .social-media .right-bar .followers h3 {
        font-size: 30px;
    }

        .social-media .right-bar .followers p {
        font-size: 12px;
    }

        .social-media .right-bar p {
        font-size: 15px;
        line-height: 1;
    }


        .social-media .right-bar .social-mdia-handle img {
        width: 40px;
        height: auto;
    }

        .social-media .right-bar .social-mdia-handle img:nth-child(3) {
        width: 70px;
        height: auto;
    }

        .social-media .right-bar .social-mdia-handle img:nth-child(6) {
        width: 50px;
        height: auto;
    }

    .social-media .right-bar .social-mdia-handle img:nth-child(3) {
    margin: 0 -20px;
}

    .workshops .left-bar h6 {
        font-size: 30px;
    }

        .workshops .left-bar p {
        font-size: 12px;
    }

        .workshops {
        padding: 20px 0;
    }

        .award_honours .awards {
        padding: 5px 0 20px 0;
    }

        .award_honours .awards h6 {
        font-size: 30px;
    }

    .ayurveda_detox_clinic {
    padding: 20px 0;
}

        .ayurveda_detox_clinic .right-bar h6 {
        font-size: 24px;
    }

        .subscribe_form .left-bar h6 {
        font-size: 18px;
    }

        .subscribe_form .left-bar p {
        font-size: 12px;
    }

        .subscribe_form .right-bar {
        padding: 0;
    }

    .subscribe_form .right-bar form input {
        padding: 3px;
    }

    .subscribe_form .right-bar form button {
    padding: 3px;
    font-size: 10px;  
}

.subscribe_form .right-bar form {
    padding: 10px;
}

footer {
    margin: 20px 0 0 0;
}

    footer .left-bar h6 {
        font-size: 20px;
    }

        footer .left-bar p {
        font-size: 10px;
    }

          footer .left-bar p span {
        font-size: 9px;
    }

    footer .middle-bar .contact img {
        height: 30px;
    }

        footer .middle-bar .contact p {
        font-size: 9px;
    }

    footer .middle-bar .location img {
        height: 40px;
    }

        footer .middle-bar .location p {
        font-size: 7px;
    }

    footer .right-bar h3 {
    padding-top: 10px;
}

  .awards .awards__slider img {
  margin: 0 4px;
}

}

@media screen and (max-width: 575px) {
   

    .bestseller {
        padding-top: 10px;
    }

    .bestseller .left {
        display: none;
    }

    .bestseller .middle {
        width: 50%;
    }

    .bestseller .right {
        width: 50%;  
    }

        .bestseller .middle-bar h5 {
        font-size: 14px;
    }

    .bestseller .right-bar img:nth-child(1) {
        height: 155px;
        width: 110px;
    }

    .bestseller .middle-bar h4 {
        line-height: 1;
    }

        .consultation-section .left-bar h4 {
        font-size: 16px;
        padding: 0;
    }

        .consultation-section .left-bar .patient-count h3 {
        font-size: 20px;
    }

        .consultation-section .left-bar .patient-count .patient-from p:nth-child(1) {
        font-size: 13px;
        /* padding-left: 5px; */
    }

        .consultation-section .left-bar .patient-count .patient-from p:nth-child(2) {
        font-size: 8px;
        /* padding-left: 5px; */
    }

    .consultation-section .left-bar a {
        font-size: 7px;
        line-height: 1;
        padding: 8px 10px 8px 10px;
    }

    .consultation-section .right-bar .consultation-image img:nth-child(3) {
        height: 130px;
    }

    .academy .left {
        width: 100%;
        text-align: center;
    }

    .academy .left-bar .academy_img1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.academy .left-bar .academy_img2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.academy .right {
    display: none;
}

    .gut_story .left-bar h3 {
        font-size: 20px;
    }

        .gut_story .left-bar p:nth-child(2) {
        font-size: 10px;
        margin: 0;
        line-height: 1.3;
    }

    .gut_story .left-bar p:nth-child(4) {
        font-size: 8px;
        margin: 0;
        padding: 2px 0;

    }

        .gut_story .left-bar {
        padding: 0 20px;
    }

        .gut_story .left-bar .prodcast-media img {
        height: 20px;
        width: auto;
        padding: 0 5px;
    }

        .awards .awards__slider img {
        margin: 0px 3px;
    }

        .social-media .right-bar .followers p {
        font-size: 8px;
        margin: 0;
    }

        .social-media .right-bar .followers h3 {
        font-size: 16px;
        margin: 0;
    }

        .social-media .right-bar p {
        font-size: 10px;
        line-height: 1;
        margin: 0;
    }

    .social-media .right-bar .social-mdia-handle {
    text-align: center;
    padding-top: 5px;
}

        .social-media .right-bar .social-mdia-handle img {
        width: 30px;
        height: auto;
    }

        .social-media .right-bar .social-mdia-handle img:nth-child(3) {
        margin: 0 -20px;
        width: 50px;
    }

        .social-media .right-bar .social-mdia-handle img:nth-child(6) {
        width: 40px;
        height: auto;
    }

        .workshops .left-bar h6 {
        font-size: 18px;
        margin: 0;
    }

        .workshops .left-bar p {
        font-size: 8px;
    }

    .award_honours .awards h6 {
        font-size: 20px;
    }

    .award_honours .awards img {
    
    padding: 0 10px;
}

    .ayurveda_detox_clinic .right-bar h6 {
        font-size: 16px;
    }

    .subscribe_form {
    background-color: #FFF2EB;
    padding: 15px 0;
}

    .subscribe_form .left-bar h6 {
        font-size: 14px;
    }

        .subscribe_form .left-bar {
        padding: 0;
    }

        .subscribe_form .left-bar p {
        font-size: 9px;
    }

    
    .subscribe_form .right-bar form input {
        margin: 5px 0;
    }

      .subscribe_form .right-bar form input::placeholder {
        font-size: 12px;
        padding: 0 5px;  
      }

      footer {
        margin: 0;
      }


          footer .left-bar {
        padding: 10px 0;
    }

        .subscribe_form .right-bar form button {
        padding: 5px;
        font-size: 10px;
        margin: 0;
    }

    footer .left-bar h6 {
        font-size: 16px;
    }

    footer .left-bar p {
        font-size: 7px;
    }

        footer .left-bar p span {
        font-size: 7px;
    }

    footer .middle-bar .contact  {
        padding: 0;
        border: none;
    }

    footer .middle-bar {
        padding-top: 30px;
    }

    footer .middle-bar .location {
    padding: 5px 0;
    display: -webkit-box;
    border-left: none;
}

    footer .middle-bar .location img {
        height: 30px;
    }

        footer .middle-bar .contact img {
        height: 25px;
    }

        footer .right-bar p {
        font-size: 4px;
    }

        footer .right-bar h3 {
        font-size: 10px;
    }


}



