@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap);
* {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.primary-heading {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
}

.secondary-heading {
  font-size: 1.75rem;
}

.tertiary-heading {
  font-size: 1.2rem;
}

.paragraph {
  font-size: 1rem;
  line-height: 1.6;
  color: #2a2c2c;
}

.paragraph-b {
  font-weight: 500;
  font-size: 0.9rem;
}

html {
  font-size: 16px;
  font-family: Montserrat, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #000;
  -webkit-animation: fade-in ease 1.5s forwards;
  animation: fade-in ease 1.5s forwards;
  overflow-x: hidden;
}

body.active {
  overflow: hidden;
}

.desktopnav {
  display: block;
}

.mobilenav,
.sidenav {
  display: none;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes zoom-in {
  0% {
    -webkit-transform: scale(0.8) opacity(0);
    transform: scale(0.8) opacity(0);
  }
  100% {
    -webkit-transform: scale(1) opacity(0.7);
    transform: scale(1) opacity(0.7);
  }
}

@keyframes zoom-in {
  0% {
    -webkit-transform: scale(0.8) opacity(0);
    transform: scale(0.8) opacity(0);
  }
  100% {
    -webkit-transform: scale(1) opacity(0.7);
    transform: scale(1) opacity(0.7);
  }
}

.header {
  background-color: #e1ecbb;
}

.header nav {
  margin: auto;
}


.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.header nav ul li {
  margin: 0 1rem;
  list-style: none;
}

.header nav ul li.logo {
  max-width: 8rem;
  margin-bottom: 1rem;
}

.header nav ul li a {
  display: block;
  text-decoration: none;
  color: #292728;
  text-transform: uppercase;
  font-weight: 500;
  min-width: 3rem;
  min-height: 1.5rem;
  /* max-width: 6rem; */
  text-align: center;
  font-size: 0.9rem;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.header nav ul li a:hover {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid #fff;
}

.header nav ul li:nth-child(5) a:hover {
border-bottom: none;
}

.mobilenav {
  background-color: #e1ecbb;
  padding-bottom: 1rem;
}

.mobilenav__logo {
  display: block;
}

.mobilenav__logo img {
  max-width: 5rem;
}

.mobilenav__hamburger {
  width: 32px;
  height: 21px;
  padding: 0.2rem;
  cursor: pointer;
  position: relative;
  margin-top: 0.05rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  float: right;
  z-index: 3;
}

.mobilenav__hamburger.active span:nth-of-type(1) {
  top: unset;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mobilenav__hamburger.active span:nth-of-type(2) {
  opacity: 0;
}

.mobilenav__hamburger.active span:nth-of-type(3) {
  bottom: unset;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobilenav__hamburger span {
  height: 3px;
  display: block;
  background: #292728;
  border-radius: 2rem;
  width: 90%;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.mobilenav__hamburger span:nth-of-type(1) {
  top: 0;
}

.mobilenav__hamburger span:nth-of-type(3) {
  bottom: 0;
}

.bestseller {
    padding-top: 20px;
   background: url(/images/socialmedia/image\ 583.png) lightgray 60% / cover no-repeat;
background-color: #dca67f; 
}

.bestseller .left-bar p {
font-size: 25px;
font-weight: 500;
line-height: 1;
letter-spacing: -0.01em;
color: #3e665e;
}

.bestseller .left-bar img:nth-child(2) {
vertical-align: bottom;
width: 150px;
height: auto;
-webkit-box-shadow: 11px 20px 10px -12px #00000070;
  box-shadow: 20px 20px 10px -12px #00000070;
/* margin-top: 32px; */
 
}

.bestseller .left-bar img:nth-child(3) {
  /* position: absolute; */
  margin-left: -20px;
  width: 170px;
  height: auto;
  -webkit-box-shadow: 11px 20px 10px -12px #00000070;
  box-shadow: 11px 20px 10px -12px #00000070;
} 

.bestseller .middle-bar h4 {
  color: #3E665E;
font-family: Cormorant;
font-size: 26px;
font-style: normal;
font-weight: 900;
line-height: 2;
letter-spacing: 4.863px;
text-transform: uppercase;
}

.bestseller .middle-bar h5 {
  color: #B3222B;
font-family: "Cormorant Garamond";
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 2;
letter-spacing: -1.021px;
}

.bestseller .middle-bar h6 {
  color: #3E665E;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: 1.3;
letter-spacing: -0.325px;
}

.bestseller .middle-bar a {
  padding: 15px 20px 15px 20px;
  background-color: #3E665E;
color: #F7FFFF;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 5;
letter-spacing: 0.647px;
text-transform: uppercase;
border-radius: 8px;
text-decoration: none;
}

.bestseller .middle-bar a:hover {
background-color: #fff;
border: 1px solid #126A47;
color: #1B3B31;
transition: 0.5s ease-in-out;
}

.bestseller .right-bar {
  text-align: right;
}

.bestseller .right-bar img:nth-child(1) {
  box-shadow: 20px #dadada;
      height: 380px;
    width: 250px;
    vertical-align: top;

}

.bestseller .right-bar img:nth-child(2) {
 height: 70px;
 width: auto;
}

.consultation-section {
  padding: 20px 0;
}

.consultation-section .border-bottom {
  border: 3px solid #3E665E;
} 

.consultation-section .left-bar h4 {
  color: #3E665E;
font-family: san;
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: 1.3;
text-align: left;
padding-top: 20px;

}

.consultation-section .left-bar .bottom-border {
  width: 80%;
  border: 1px solid #3e665e;
}

.consultation-section .left-bar .patient-count {
  display: flex;
  padding: 15px;
}

.consultation-section .left-bar .patient-count h3 {
  color: #3E665E;
font-family: Montserrat;
font-size: 65px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.consultation-section .left-bar .patient-count  .patient-from p:nth-child(1) {
   color: #000F0D;
font-family: "Cormorant Garamond";
font-size: 35px;
font-style: italic;
font-weight: 500;
line-height: normal;
padding-left: 20px;
margin: 0;
}

.consultation-section .left-bar .patient-count  .patient-from p:nth-child(2) {
  color: #000F0D;
font-family: Montserrat;
font-size: 35px;
font-style: italic;
font-weight: 500;
line-height: normal;
padding-left: 20px;

}

.consultation-section .left-bar .consultation-cta  {
  padding-left: 50px;
}

.consultation-section .left-bar a {
  padding: 10px 15px 10px 15px;
  border-radius: 10.628px;
background: #FFCD60;
color: #126A47;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 3;
text-transform: uppercase;
text-align: center;
text-decoration: none;
}
 
.consultation-section .right-bar .consultation-image img:nth-child(1) {
  height: 135px;
  width: auto;
  margin: 0 10px;
  border: 2px solid #3E665E;
  border-radius: 50%;
  vertical-align: baseline;
}

.consultation-section .right-bar .consultation-image img:nth-child(2) {
   height: 135px;
  width: auto;
  margin: 0 10px;
  border: 2px solid #3E665E;
  border-radius: 50%;
  vertical-align: baseline;
} 

.consultation-section .right-bar .consultation-image img:nth-child(3) {
  height: 80%;
  width: auto;
} 

.academy .left-bar .academy_img1 {
  display: flex;
}

.academy .left-bar .academy_img1 .academy_image img {
  margin: 5px;
  height: 155px;
  width: auto;
}

.academy .left-bar .academy_img2 {
  display: flex;
}

.academy .left-bar .academy_img2 .academy_image img {
  margin: 5px;
  height: 155px;
  width: auto;
}

.academy .right-bar .parana-academy-title {
  color: #1B3B31;
font-family: "Cormorant Garamond";
font-size: 60px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
}

.academy .right-bar {
  padding: 0 50px;
}

.academy .right-bar .bottom-border {
  width: 100%;
  border: 1px solid #1A3A30;
}

.academy .right-bar .academy-students {
  display: flex;
  padding: 10px 10px;
  text-align: center;
  
}

.academy .right-bar .academy-students h3 {
  color: #1B3B31;
text-align: center;
font-family: Montserrat;
font-size: 65px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.897px;
}

.academy .right-bar .academy-students .student-from-countries p {
color: #1B3B31;
font-family: "Cormorant Garamond";
font-size: 30px;
font-style: italic;
font-weight: 500;
line-height: 1;
padding-left: 20px;
margin: 0;
letter-spacing: 0.1em;
text-align: center;
}

.academy .right-bar .academy-students .student-from-countries p span {
color: #1B3B31;
font-family: Tahoma;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.798px;
text-align: center;
}

.gut_story {
  background: linear-gradient(180deg, #EAEAEA 0%, #E4E5EA 21%, #F5F9FC 39%, #F8F7F5 100%);
}

.gut_story .left-bar {
  text-align: center;
  padding: 0 50px;
}

.gut_story .left-bar h3 {
  color: #094D40;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 90px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0;
}

.gut_story .left-bar p:nth-child(2) {
  color: #094D40;
font-family: "Cormorant Garamond";
font-size: 42.438px;
font-style: italic;
font-weight: 500;
line-height: 1.5;
}

.gut_story .left-bar p:nth-child(4) {
  color: #9A2222;
font-family: Montserrat;
font-size: 33px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 10px;
}

.gut_story .left-bar .border-bottom {
  border: 2px solid #094D40;
}

.gut_story .left-bar .prodcast-media img {
  padding: 20px 10px;
}

.social-media {
background: url(/images/socialmedia/image\ 583.png) lightgray 60% / cover no-repeat;
background-color: #e2bea4;
}

.social-media .left-bar img {
  -webkit-box-shadow: 11px 20px 10px -12px #00000070;
  box-shadow: 20px 20px 10px -30px #00000070;
}

.social-media .right-bar .followers {
  display: flex;
  align-items: baseline;
}

.social-media .right-bar .followers h3 {
  color: #1B3B31;
text-align: center;
font-size: 65px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.social-media .right-bar .followers p {
  color: #1B3B31;
text-align: center;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-left: 20px;
}

.social-media .right-bar p {
  color: #1B3B31;
font-family: "Cormorant Garamond";
font-size: 35px;
font-style: italic;
font-weight: 700;
line-height: 2;
text-align: center;
}

.social-media .right-bar .social-mdia-handle {
  text-align: center;
}

.social-media .right-bar .social-mdia-handle img {
  padding: 0 5px;
}
.social-media .right-bar .social-mdia-handle img:nth-child(3) {
  margin: 0 -30px;
}

.social-media .right-bar .social-mdia-handle img:nth-child(6) {
  margin: 0 -15px;
}

.workshops {
  padding: 80px 0;
}

.workshops .left-bar {
  text-align: center;
  padding: 0 30px;
}

.workshops .left-bar h6 {
  color: #3E665E;
font-family: "Cormorant Garamond";
font-size: 60px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
}

.workshops .left-bar .bottom-border {
  width: 100%;
  border: 1px solid #1B3B31;
}

.workshops .left-bar p {
  color: #000;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 2;
}

.workshops .right-bar {
  display: flex;
  justify-content: space-between;
}

.workshops .right-bar img {
  width: 305px;
  height: auto;
}

.award_honours .awards {
  padding: 10px 0 80px 0;
  border-top: 2px solid #3e665e;
  border-bottom: 2px solid #3e665e;
  text-align: center;
} 

.award_honours .awards h6 {
  color: #3E665E;
font-family: "Cormorant Garamond";
font-size: 55px;
font-style: normal;
font-weight: 500;
line-height: 2;
}

.award_honours .awards img {
  height: 176px;
  width: auto;
  padding: 0 20px;
}

.ayurveda_detox_clinic {
  padding: 50px 0;
}

.ayurveda_detox_clinic .left-bar img {
  width: 315px;
  height: auto;
  padding: 0 5px;
}

.ayurveda_detox_clinic .right-bar h6 {
  color: #3E665E;
text-align: center;
font-family: "Cormorant Garamond";
font-size: 55px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.subscribe_form {
  background-color:  #FFF2EB;
  padding: 30px 0;
}

.subscribe_form .left-bar {
  padding: 0 50px;
}

.subscribe_form .left-bar h6 {
  color: #3E665E;
font-family: "Cormorant Garamond";
font-size: 42px;
font-style: normal;
font-weight: 500;
line-height: 1;
}

.subscribe_form .right-bar {
  padding: 0 50px;
}
.subscribe_form .right-bar form {
  border: 2px solid #2d5641;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.subscribe_form .right-bar form input {
  width: 100%;
  height: auto;
  margin: 10px 0;
  border: 1px solid #dadada;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

.subscribe_form .right-bar form input::placeholder {
  color: #a8a6a6;
}

.subscribe_form .right-bar form button {
  width: 100%;
  height: auto;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #2d5641;
  text-transform: uppercase;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.subscribe_form .left-bar p {
  color: #9A2222;
text-align: left;
font-family: Montserrat;
font-size: 29px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: -0.325px;
}

footer {
  background-color: #2d5641;
  margin: 40px 0 0 0;
}

footer .left-bar {

  padding: 30px 0;
}

footer .left-bar h6 {
  color: #FFF;
font-family: "Cormorant Garamond";
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 2; 
text-transform: uppercase;
}

footer .left-bar p {
  color: #FFF;
font-family: "Cormorant Garamond";
font-size: 20px;
font-style: normal;
font-weight: 200;
line-height: 1;
}

footer .left-bar p span {
  color: #FFF;
font-family: "Cormorant Garamond";
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: 1;
}

footer .middle-bar  {
  padding-top: 90px;
}

footer .middle-bar .contact {
  display: flex;
  padding: 7px 40px;
  align-items: end;
  border-left: 2px solid #fff;
}

footer .middle-bar .contact img {
  border-radius: 50%;
  height: 45px;
  width: auto;
}

footer .middle-bar .contact p {
  color: #FFF;
font-family: "EB Garamond";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 1;
letter-spacing: 2.013px;
padding-left: 15px;
}

footer .middle-bar .location {
  display: -webkit-box;
  padding: 7px 40px;
  border-left: 2px solid #fff;
}

footer .middle-bar .location p {
  color: #FFF;
font-family: "Cormorant Garamond";
font-size: 22px;
font-style: normal;
font-weight: 300;
line-height: 1.5;
padding-left: 10px;
}

footer .right-bar {
  text-align: center;
  padding: 30px 0 50px 0;
}

footer .right-bar h3 {
  color: #fff;
  letter-spacing: 0.4em;
  margin: 0;
  padding-top: 10px;
}

footer .right-bar p {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0;
}

.sidenav {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background: #e1ecbb;
  z-index: 2;
  padding: 3rem;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.sidenav.active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.sidenav ul {
  margin: 0;
  padding: 0;
}

.sidenav ul li {
  list-style: none;
}

.sidenav ul li a {
  font-size: 1.5rem;
  color: #292728;
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.backdrop.active {
  opacity: 1;
  visibility: visible;
}

.awards {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.awards__title {
  margin: 1rem auto 1rem;
}

.awards__title h2 {
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.awards__slider ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
}

.awards__slider .slide {
  margin: 0 2rem;
}

.awards__slider .slide .image img {
  margin: auto;
  max-width: 6rem;
}

.awards__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 0;
}

.awards__slider .slick-dots li {
  list-style: none;
  margin: 0 0.5rem;
}

.awards__slider .slick-dots li.slick-active button {
  background: #f5ba44;
}

.awards__slider .slick-dots li button {
  font-size: 0;
  width: 2rem;
  background: #dcdcdc;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  height: 8px;
  border-radius: 5px;
}


.peoples {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: #efe3f0;
}

.peoples__title {
  margin-bottom: 2rem;
  text-align: center;
}

.peoples__title h2 {
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.peoples__slider {
  display: flex;
}

.peoples__slider .slide {
  margin-right: 1rem;
  background-color: #fff;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
  overflow: hidden;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 11px 20px 10px -12px #00000070;
  box-shadow: 11px 20px 10px -12px #00000070;
}

.peoples__slider .slide .image {
  position: relative;
  overflow: hidden;
}

.peoples__slider .slide .image:hover .playbtn {
  -webkit-transform: scale(1.1) translate(-50%, -50%);
  transform: scale(1.1) translate(-50%, -50%);
}

.peoples__slider .slide .image .playbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  z-index: 1;
  cursor: pointer;
  max-width: 4rem;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.peoples__slider .slide .caption {
  padding: 1rem 1.5rem;
  text-align: center;
}

.peoples__slider .slide .caption h6 {
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.peoples__slider .slide .caption p {
  color: #282828;
  margin-bottom: 0.5rem;
  font-style: italic;
  font-weight: 500;
  font-size: 0.9rem;
  min-height: 3rem;
  max-height: 3rem;
  overflow: hidden;
}

.peoples__slider .slide .caption a {
  color: #46b0de;
  font-size: 0.9rem;
  text-decoration: none;
  display: inline-block;
}

.peoples__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.peoples__slider .slick-dots li {
  list-style: none;
  margin: 0 0.5rem;
}

.peoples__slider .slick-dots li.slick-active button {
  background: #bc96bf;
}

.peoples__slider .slick-dots li button {
  font-size: 0;
  width: 4rem;
  background: #fff;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  height: 10px;
  border-radius: 5px;
}